body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img#game-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1, #result-area, #chance-area, input, button {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.success {
    font-size: 2em;
    color: green;
}

.failure {
    font-size: 2em;
    color: red;
}

